billiard==4.2.1
celery==5.5.3
grpcio==1.73.0
grpcio-tools==1.73.0
kombu==5.5.4
protobuf==6.31.1
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
redis>=4.0.0
setuptools==80.9.0
SQLAlchemy==2.0.41
tzdata==2025.2
vine==5.1.0
